.logo{
  width: 180px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}

nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Alegreya';

}

*{
  margin: 0;
  padding: 0;
}
.header{
  height: 100vh;
  background-image: url(images/drew-coffman-1872.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 1;

}
.header-group{
  padding-top: 200px;
  color: white;
  text-align: center;
  margin: auto;
  height: 80%;
}

h1{
  color: #FFFFFF;
  font-size:76px;
  font-family: 'Alegreya', serif;
  vertical-align:baseline;
  font-weight: 400;
  margin-bottom: 15px;
}
.top{
  color: #FFFFFF;
  font-size:22px;
  font-family: 'Alegreya', serif;
  vertical-align:baseline;
  font-weight: 400;
  margin-bottom: 15px;
}
.subtitle{
  color: #FFFFFF;
  font-size:24px;
  font-family: 'Alegreya Sans', sans-serif;
    line-height:1.9em;
  vertical-align:baseline;
  font-weight: 400;
  margin-bottom: 15px;
}
.header-btn1{
  background-color: #8e7754;
  border: 2px solid transparent;
    padding: 15px 28px;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 16px;
    opacity: 1;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Alegreya Sans', sans-serif;
}
.header-btn1:hover {background-color: #ffff;color: black;}

.header-btn2{
  margin-left: 12px;
  color: #fff;
  border-color: #fff !important;
  border: 2px solid;
  padding: 15px 28px;
  background: none;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 16px;
  opacity: 1;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Alegreya Sans', sans-serif;
}
.header-btn2:hover {background-color: #ffff;color: black;}

.group-one{
    padding-top: 100px;
    padding-bottom: 100px;
  }
.first{
    text-align: center;
  }
.member {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  }
.second{
  padding-left: 50px;
}

.icon-list ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
.icon-text {
  color: #686868;
  font-size:17px;
  font-family: 'Alegreya', serif;
  line-height:31.62px;
  vertical-align:baseline;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 2px;
}
.icon-list img {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 50px;
  border-color: #8e7754;
  line-height: 44px;
}
img{
  max-width: 100%;
  vertical-align:middle;
  height: auto;}
p{
  font-size:17px;
  color: #686868;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  vertical-align: baseline;
  letter-spacing:normal;
  line-height:31.62px;
  margin-bottom: 20px;
}
h2{
  font-size: 32px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;

}
h3{
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #303030;
  margin-bottom: 15px;
}
h4{
  font-size: 22px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #303030;
  margin-bottom: 15px;
  margin-top: 25px;

}
.group-two{
  background-color: #F8F8F8;
  padding-top: 100px;
  padding-bottom: 100px;
}
.group-three{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  justify-content: center;
  align-items: center; 
  margin: auto;
  width: 100%;
}
.group-member {
  width: 27%;
  float:left;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
align-items: center;
margin-left: 4.7%;
}
.group-member img{
  width: 100%;
}
.p1{
  margin: 15px 15px;
}
.special-text{
  margin-bottom: 55px;
}
.clr{
  clear: both;
}
.contact-list ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
.contact-list img {
  background-color: #8e7754;
  border-radius: 50px;
  line-height: 44px;
}

.contacts {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 49%;
  vertical-align: middle;
}

.footer-back{
  width: 90%;
  margin: auto;
}
.footer{
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 24%;
  vertical-align: middle;
  position: relative;
  text-align: center;
  justify-content: center;
align-items: center;
margin-left: 1%;
}
.footer-title{
  font-size: 18px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  margin-bottom: 25px;
}
.text-footer{
  text-align: left;
  font-size:16px;
  line-height:29.76px;
  font-weight:400;
  color: #969696;
  margin-bottom: 6px;
  padding-bottom: 7px;
  font-family: 'Alegreya Sans', sans-serif;

}

.footer-group{
  background-color: #403D38;
  background-image: url(images/contact-details-map.png);
  background-repeat: no-repeat;
  background-position:center right ;
  opacity: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-list ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 17px;
  margin-top: 0px;
  float: left;
}
.footer-list li{
  border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 7px;
}
.contact-footer ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 2px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  text-align: left;
  margin-bottom: 15px;
  margin-bottom: 15px;

}
.footer-content{
  background-color: #353330;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-buttom{
  width: 80%;
  text-align: center;
  margin: auto;
}

.copyright{
  font-size:15px;
  line-height:27.9px;
  font-weight:400;
  color: #777777;
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 25px;
}
.social-icon{
  text-align: center;
  margin-left: 5px;
}
.social-icon img {
  background-color: #484540;
  border-radius: 50px;
  line-height: 44px;
  margin-left: 5px;
}
.ficon:hover{
  background-color: #3B5998;
  border-radius: 50px;
  line-height: 44px;
  margin-left: 5px;
}.gicon:hover{
  background-color: #DD4B39;
  border-radius: 50px;
  line-height: 44px;
  margin-left: 5px;
}.licon:hover{
  background-color:#007BB5;
  border-radius: 50px;
  line-height: 44px;
  margin-left: 5px;
}.ticon:hover{
  background-color: #00ACED;
  border-radius: 50px;
  line-height: 44px;
  margin-left: 5px;
}